@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

/* -------  General Styles ------- */


body {
  font-family: 'Poppins', sans-serif;
  transition: .3s ease-in-out;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: .3s ease-in-out;
}

a:hover {
  color:rgba(255, 56, 92)
}

h2 {
  font-size: 50px;
  font-weight: 800;
  text-align: left;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  font-size: 3vw;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  margin-bottom: 25px;;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  height: 130px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(0,0,0,50%);
  z-index: 100;
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}


.logo {
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#logoimg {
  width: 30px;
  margin-bottom: 20px;
}

#menu {
  margin: 25px 0 25px 0;
  display: flex;
  color: white;
  width: 75%;
  font-size: 14px;
  justify-content: space-around;
}


/* ------- Hero Section ------- */

#spacer {
  height: 150px;
  background-color: black;
}

#stay {
  background-image: url(images/headimg.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
  
  
  color: white;
  font-weight: 800;
  padding-top: 70px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




/* -------  Search Form ------- */
form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 25px;
  font-size: 15px;
  background-color: rgba(255, 56, 92, .4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 10px;
  width: 90%;
  
  
}

.material-icons{
  margin-right: 10px;
}

label {
  margin-bottom: 15px;
  font-weight: 800;
  display: flex;
  align-items: center;
  
}

#form-element { 
  display: flex;
  flex-direction: column;
}

select, input {
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 100px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

select:hover, input:hover {
  color: #ff5275;
}


 button {
  background-color: #ff5275;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  width: 50%;

  border-color: black;
  border-radius: 100px;
  border-width: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: .3s ease-in-out;
}

button:hover {
  background-color: #f897ab;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media screen and (min-width: 700px) {

  p, ul{
    margin-left: 10px;
    font-size: 1.25vw;
    line-height: 2em
  }

  form, header, .logo { 
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo{
    justify-content: center;
  }

  #logoimg{
    margin: 0;
    margin-right: 10px;
  }



  header {
    justify-content: space-between;
    height: 40px;
    padding: 20px 20px 20px 20px;
  }

  #menu {
    margin: 0;
    width: 50%;
  }

  #spacer {
    height: 80px;

  }

  form{
    width: 100%;
    font-size: 10px;
    margin-bottom: 25px;
    justify-content: center;
    background-color: rgba(255, 56, 92, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }

  label, input {
    margin: 0;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  input, select{
    padding: 10px;
    margin: 0;
  }

  button {
    width: 140px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #form-element{
    margin-right: 15px;
    align-items: center;
  }

  .desktop-container{
    display: flex;
    margin-bottom: 20px;

  }

  .desktop-container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .img-w-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }

  main img{
    width: 30%;
    margin-right: 10px;
  }

  .idea{
    width: 100%
  }

  #host{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .halfscreen{
    width: 45%
  }
}